body {
    background-color: #222222;
    color: white;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#upper-card {
    border: 10px solid none;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 10px 5px 5px black;
}

.bg-accent-first {
    background-color: #007bff;
    color: white;
}

.bg-accent-second {
    background-color: #28a745;
    color: white;
}

.home-card-wrap {
    border: 10px solid none;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.card-of-table {
    border: 10px solid none;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}